/* (A) CONTAINERS + SHARED */
#exp-list, #exp-add,#exp-edit{
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;
    border: 1px solid #eee;
    padding: 10px;
    max-width: 400px;
  }
.exp-row, .exp-name, .exp-del, #exp-item, #exp-item-edit, #exp-amount, #exp-amount-edit, #exp-add-btn, #exp-edit-btn {
    box-sizing: border-box; 
    border: 0;
  }
 .exp-name, #exp-amount, #exp-amount-edit, #exp-item, #exp-item-edit {
    background: #fff;
    padding: 10px;
  }
 .exp-del, .exp-edit, #exp-add-btn, #exp-edit-btn {
    cursor: pointer;
    color: #fff;
  }
  
  /* (B) SHOPPING LIST */
 .exp-row {
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
 .exp-name { width: 60%; }
 .exp-name { background: #f5fffa; }
  
 .exp-del, .exp-edit { width: 20%; }
 .exp-del { background: #de1919; }
 .exp-edit { background: #5a75d6; }
  
  /* (C) ADD ITEM */
 #exp-item, #exp-item-edit{ width: 75% }
 #exp-add-btn, #exp-edit-btn {
    width: 25%;
    background: #5a75d6;
  }
 #exp-amount, #exp-amount-edit{ width: 75% }
  
 #exp-edit-btn{display: "none";}
  /* [DOES NOT MATTER] */
 html, body { font-family: arial, sans-serif }
  